/* --------------------------------------------------------------
Mise en forme générale
-------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oxygen:wght@300&family=Poppins:wght@100;200&display=swap');
* {
    font-family:'Open sans';
    margin: 0;
    padding: 0;
}

body {
  
   background-color: white ;
}
/*ajout logo-----*/
.logo{
width: 200px; 
height: 200px ; 
display: block;
margin:0px auto;
}

h1 {text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: italic;}

/*ajout d'un menu en horizontal l'un à cote de l'autre//*suppression des puces -------*/
.titreMenu{
    list-style-type: none;
    width: 100%;
    height:100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
    padding: 1% 1% 1% 1%;
    background-color: #3D858E; 
    margin: 0% 0% 0% 0%;
}


/*suppression des puces -------*/
.Menu ul{
list-style-position: none;
}
/*modification taille et couleur des icons*/
.fa-solid {
 color: #3D858E;
 width: "700px";   
}

/*Hoover-----sur tout le menu*/
.Landscapes:hover {
background-color :#3D858E;
}

/*------------------------------------------------------
Mise en page Biographie
--------------------------------------------------------*/
.Biographie {
    display: flex;
    flex-wrap: wrap;
justify-content: center;}

.bio {width: 40%;
        text-align: center;}

.bloc-photos {width: 40%;    
margin: 20px 20px 20px 20px}

p {
    background-color: white;
    color: gray;
    text-align: justify;
    margin: 30px 20px 20px 20px}

/*------------------------------------------------------
Mise en page des titres de section
--------------------------------------------------------*/
h2{
    font-size: 25px; 
      text-align: center;
      background-color: #3D858E;


  }

/*------------------------------------------------------
Taille police Menu
--------------------------------------------------------*/
.Landscapes
{font-weight: bolder; }
.Portrait
{font-weight: bolder; }
.Biographie
{font-weight: bolder; }
.Contact
{font-weight: bolder; }

/*------------------------------------------------------
Grid des landscapes
----------------------------------------------------*/

img {
    width: 100%;
    height: 100%;
}


.Landscapes-Section {
    background-color:black;
    margin: 10px 200px 10px 200px;
    gap: 10px 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
    "b b b b"
    "b b b b"
    "f . a a"
    "f d d ."
    "c c e e"
    ". g g h"
    "i i . h";
}

.Ville {
    grid-area: a;
    transition: transform 0.4s;
}
.Ville:hover{
    transform:scale(1.05);
}
.Campagne {
    grid-area: b;
    transition: transform 0.4s;
}
.Campagne:hover{
    transform:scale(1.05);
}
.Plage {
    grid-area: c;
    transition: transform 0.4s;
}
.Plage:hover{
    transform:scale(1.05);
}
.Brume {
    grid-area: d;
    transition: transform 0.4s; 
}
.Brume:hover{
    transform:scale(1.05);
}
.Fleuve {
    grid-area: e;
    transition: transform 0.4s;
}
.Fleuve:hover{
    transform:scale(1.05);
}
.Champs {
    grid-area: f;
    transition: transform 0.4s; 
}
.Champs:hover{
    transform:scale(1.05);
}
.Arbre {
    grid-area: g;
    transition: transform 0.4s;
}
 .Arbre:hover{
    transform:scale(1.05);
} 
.Palmiers {
    grid-area: h;
    transition: transform 0.4s; 
}
.Palmiers:hover{
    transform:scale(1.05);
}
.Montagne {
    grid-area:i;
    transition: transform 0.4s;
}
.Montagne:hover{
    transform:scale(1.05);
}
/*ajout d'un grid Portraits -------*/
.Portraits {  
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 0.15fr 0.6fr 0.6fr 0.15fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr; 
    gap: 1% 1%;
    margin: 10px 200px 10px 200px;
    grid-template-areas:
              "bleu mainc mainc mainc mainc moitie"
              "bleu mainc mainc mainc mainc moitie"
              "bleu mainf mainf mainf mainf moitie"
              "bleu mainf mainf mainf mainf moitie"
              "ferme ferme regard regard rouge rouge"
              "ferme ferme regard regard rouge rouge"
              "noir noir noir sourire sourire sourire"
              "noir noir noir sourire sourire sourire";}
    
    .mainf { grid-area: mainf; }
    .mainc { grid-area: mainc; } 
    .rouge { grid-area: rouge; }
    .noir { grid-area: noir; }
    .bleu { grid-area: bleu; }
    .sourire { grid-area: sourire; }
    .regard { grid-area: regard; }
    .moitie { grid-area: moitie; }
    .ferme { grid-area: ferme; }
    
    img {width: 100%;
    height: 100%;}
    
    h2{
        font-size: 25px; 
          text-align: center;
          background-color: #3D858E;
      }

form{
    justify-content: center;
    flex-direction: column;
}
